{% extends "base.twig" %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>Twig CRUD</h1>
        <p>
            Aplikasi ini bertujuan untuk menunjukkan cara penggunaan template engine Twig dengan native PHP.
        </p>
    </div>
    <hr>
{% endblock %}

